VITE_SUPABASE_URL=https://jjywyekftiqmczhgtjre.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqeXd5ZWtmdGlxbWN6aGd0anJlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwNzQ1MTIsImV4cCI6MjA5MTY1MDUxMn0.awP0tt8uov9HgACgxdkedchjfKIX7PDp4Lo1YUYPN4U
